/* predefining all colors and font sizes */
:root {
  --white-color:                  #FFFFFF;
  --primary-color:                #ffbf00;
  --section-bg-color:             #f9f9f9;
  --dark-color:                   #000000;
  --grey-color:                   #fcfeff;
  --text-secondary-white-color:   rgba(255, 255, 255, 0.98);
  --title-color:                  #565758;
  --p-color:                      #717275;

  --body-font-family:           'Noto Sans JP', sans-serif;

  --h1-font-size:               72px;
  --h2-font-size:               42px;
  --h3-font-size:               36px;
  --h4-font-size:               32px;
  --h5-font-size:               24px;
  --h6-font-size:               22px;
  --p-font-size:                20px;
  --copyright-text-font-size:   14px;
  --custom-link-font-size:      12px;

  --font-weight-light:          300;
  --font-weight-normal:         400;
  --font-weight-bold:           700;
  --font-weight-black:          900;
}

body,
html {
  height: 100%;
}

body {
    background: var(--white-color);
    font-family: var(--body-font-family);    
    position: relative;
}

  /* TYPings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1,
h2 {
  font-weight: var(--font-weight-black);
}

h1 {
  font-size: var(--h1-font-size);
  line-height: normal;
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
  letter-spacing: 0.5px;
}

.text-secondary-white-color {
  color: var(--text-secondary-white-color);
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  color: var(--p-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

::selection {
  background: var(--dark-color);
  color: var(--white-color);
}


.custom-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  background: linear-gradient(to top, #000, transparent 90%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

b,
strong {
  font-weight: var(--font-weight-bold);
}


  /* NAVIGATION*/


.navbar {
  z-index: 9;
  right: 0;
  left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-brand {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: var(--font-weight-bold);
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-nav .nav-link::after {
  content: "\f140";
  font-family: bootstrap-icons;
  display: inline-block;
  margin-left: 10px;
  color: var(--primary-color);
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

.navbar-nav .nav-link:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.navbar-nav .nav-link {
  color: white;
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  position: relative;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-item.active .nav-link::after {
  color: var(--primary-color);
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.navbar-nav .nav-item.active .nav-link,
.nav-link:focus, 
.nav-link:hover {
  color: var(--dark-color);
}

.nav-link:focus {
  color: var(--p-color);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--dark-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--dark-color);
  width: 30px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon:before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon:after {
  top: 8px;
}


  /* HERO*/

.hero {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .hero {
    height: 100vh;
  }

  

  .sticky-wrapper {
    position: relative;
    bottom: 76px;
  }
}

.heroText {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  text-align: center;
}

/* PORTFOLIO */

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-info {
  margin: 20px;
}

/* Section Padding */
.section-padding {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

/* CONTACT */

.contact-info {
  padding: 40px;
}

.contact-form .form-control {
  border-radius: 20px;
  font-weight: var(--font-weight-);
  padding-top: 12px;
  background-color: rgb(255, 238, 218);
  padding-bottom: 12px;
}

.contact-form button[type='submit'] {
  background: var(--dark-color);
  border: none;
  border-radius: 100px;
  color: rgb(255, 238, 218);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  padding: 16px;
  transition: all 0.6s ease-out;
}

.text-danger{
  --bs-text-opacity:1;color:rgba(var(--bs-danger-rgb),
  var(--bs-text-opacity))!important
}
  
.text-light{--bs-text-opacity:1;color:rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important
}

.contact-form button[type='submit']:hover {
  background: var(--primary-color);
}

.form-label {
  color: var(--p-color);
  font-weight: var(--font-weight-bold);
}

/* Footer */

.site-footer {
  background: var(--dark-color);
  padding-top: 4.5rem;
  padding-bottom: 2.5rem;
}

.site-footer .custom-link {
  color: rgba(255, 255, 255, 0.65);
  font-size: var(--p-font-size);
}

.site-footer .custom-link:hover,
.site-footer .social-icon-link:hover {
  color: var(--white-color);
}

.copyright-text {
  color: rgba(255, 255, 255, 0.45);
  font-size: var(--copyright-text-font-size);
}

/* Social ICon */

.social-icon {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  align-items: center;
}
.social-icon li {
  list-style: none;
  width: 50px;
  height: 50px;
  display: inline-block;
  
}
/* 
.social-icon {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.social-icon li {
  list-style: none;
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  color: rgba(255, 255, 255, 0.45);
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 15px;
}

.social-icon-link:hover {
  color: var(--primary-color);
}
 */

/* RESPONSIVE STYLES */

@media screen and (min-width: 1600px) {
  .news-two-column {
    min-height: 232.5px;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .section-padding {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}



